<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="mypoissonDAO" class="com.javaquarium.dao.PoissonDAO"
		singleton="true" />
		
	<bean id="myloginDAO" class="com.javaquarium.dao.LoginDAO"
		singleton="true" />
		
	<bean id="myaquariumDAO" class="com.javaquarium.dao.AquariumDAO"
		singleton="true" />

	<bean id="mypoissonService" class="com.javaquarium.business.PoissonService"
		singleton="true">
		<property name="poissonDao">
			<ref bean="mypoissonDAO" />
		</property>
	</bean>

	<bean id="myloginService" class="com.javaquarium.business.LoginService"
		singleton="true">
		<property name="loginDao">
			<ref bean="myloginDAO" />
		</property>
	</bean>
	
	<bean id="myaquariumService" class="com.javaquarium.business.AquariumService"
		singleton="true">
		<property name="aquaDao">
			<ref bean="myaquariumDAO" />
		</property>
	</bean>

	<bean name="/ajoutEspece" class="com.javaquarium.action.AjoutEspeceAction"
		singleton="true">
		<property name="poissonService">
			<ref bean="mypoissonService" />
		</property>
	</bean>
 	<bean name="/ajoutPoissonDansAquarium" class="com.javaquarium.action.AjoutPoissonDansAquariumAction" singleton="true"/>
 	
 	<bean name="/retirerPoissonDansAquarium" class="com.javaquarium.action.SupprimerPoissonDansAquariumAction" singleton="true"/>
 	
 	<bean name="/viderAquarium" class="com.javaquarium.action.ViderAquariumAction" singleton="true"/>

	<bean name="/listerEspece" class="com.javaquarium.action.ListerEspeceAction"
		singleton="true">
		<property name="poissonService">
			<ref bean="mypoissonService" />
		</property>
	</bean>

	<bean name="/login" class="com.javaquarium.action.LoginAction"
		singleton="true">
		<property name="loginService">
			<ref bean="myloginService" />
		</property>
		<property name="aquariumService">
			<ref bean="myaquariumService" />
		</property>
	</bean>
</beans>



